# misc
**/.DS_Store
**/*.pem
**/keys
.vscode
.github
.nx

# logs
**/*.log

# dotenv environment variable files
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.local
**/.dockerhub.env
**/.ghcr.env

# Next.js build output
**/.next
**/.vercel
**/out
**/next-env.d.ts

# dependency directories
**/node_modules

# build output
**/dist
**/build
**/tsconfig.tsbuildinfo

# coverage report
**/coverage

# docker
docker-compose.prod.yml
.volumes

# git
.git
.gitignore

# Documentation
*.md
